* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


  body#index {
    text-align: center;
    font-size: large;
    color: #333333
}

body#index header{
    background-color: rgb(226, 223, 223)
}

body#index p {
    width: 33%;
    margin: auto;
}

body#index ul {
    width: 25%;
    margin: auto;
}

body#index li{
    float: right;
    list-style: none;
    width: 25%
}

body#index .clear-float {
    clear: both;
}

body#index ul li a img {
    height: 50px;
}

body#index section#services {
    background-color: #ddedff;
}

body#index a {
    color: white;
    text-decoration: none;
}
body#index section#services a{
    background-color: #1e90ff;
}


body#index section#about-me {
    background-color: #faebd7;
}

body#index section#about-me a {
    background-color: #333333;
}

body#index footer {
    background-color: #333333;
    color: white;
}  

